@model SchoolUserManagmentApp.User

@{
    ViewBag.Title = "Sign Up";
}

@using (Html.BeginForm("SignUp", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>USER SIGN UP</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, "Email", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("PhoneNumber", "Phone Number", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("PhoneNumber", null, new { @class = "form-control" })
                @Html.ValidationMessage("PhoneNumber", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Roles", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.Role, "Teacher", new { @id = "Teacher" }) @Html.Label("Teacher", "Teacher")
                @Html.RadioButtonFor(model => model.Role, "Student", new { @id = "Student" }) @Html.Label("Student", "Student")
                @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
            </div>
        </div>


        </div>

        <div class="Preferred">
            <h6>Preferred Contact</h6>
        <div class="form-group">
            <div class="col-md-10">
            @Html.CheckBox("Email", new { @id = "Email" }) @Html.Label("Email", "Email")
            @Html.CheckBox("Phone", new { @id = "Phone" }) @Html.Label("Phone", "Phone")
            
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sign Up" class="button" />
            </div>
        </div>
        </div>

    } 

<style>

    .form-group{
        margin-bottom: 20px;
    }


    .button {
        background-color: #008CBA;
        border: none;
        color: white;
        padding: 5px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
    }

        .button:hover {
            background-color: #005f5b;
        }
</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
